<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Canvas Drawing</title>
    <style>
      canvas {
        border: 1px solid black;
      }
      ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        gap: 24px;
      }
      li {
        margin: 0;
      }
      figure {
        margin: 0;
      }
      figure img {
        outline: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Draw a shape, find a place!</h1>
    <canvas
      id="drawingCanvas"
      width="100"
      height="100"
      style="background-color: white"
    ></canvas>
    <br />
    <button id="submitBtn">Submit</button>

    <h2>Most similar places:</h2>
    <ol id="similarPlaces"></ol>

    <script src="static/js/script.js"></script>
  </body>
</html>
